<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>onlineBanking</display-name>
  <welcome-file-list>
   <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
<servlet>  
<servlet-name>Register</servlet-name>  
<servlet-class>bankify.Register</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Register</servlet-name>  
<url-pattern>/Register</url-pattern>  
</servlet-mapping>
<servlet>  
<servlet-name>Login</servlet-name>  
<servlet-class>bankify.Login</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Login</servlet-name>  
<url-pattern>/Login</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>CreateAccount</servlet-name>  
<servlet-class>bankify.CreateAccount</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>CreateAccount</servlet-name>  
<url-pattern>/CreateAccount</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Withdraw</servlet-name>  
<servlet-class>bankify.Withdraw</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Withdraw</servlet-name>  
<url-pattern>/Withdraw</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>Deposit</servlet-name>  
<servlet-class>bankify.Deposit</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Deposit</servlet-name>  
<url-pattern>/Deposit</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Dashboard</servlet-name>  
<servlet-class>bankify.Dashboard</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Dashboard</servlet-name>  
<url-pattern>/dashboard</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Signout</servlet-name>  
<servlet-class>bankify.Signout</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Signout</servlet-name>  
<url-pattern>/Signout</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>Profile</servlet-name>  
<servlet-class>bankify.Profile</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Profile</servlet-name>  
<url-pattern>/Profile</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>Transfer</servlet-name>  
<servlet-class>bankify.Transfer</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Transfer</servlet-name>  
<url-pattern>/Transfer</url-pattern>  
</servlet-mapping> 

</web-app>